/*footer*/
.footer {
    background-color: rgba(0, 0, 0, 0.788);
    height: 100%;
    &_tittle {
        font-family: $font-tittle;
        font-weight: 100;
        font-size: large;
        margin: 0;
        padding: 1em;
        color: $white-text;
    }
    &_contents {
        list-style: none;
        margin: 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
    &_contents--list {
        display: flex;
    }
    &_contents--icon {
        padding-right: 1em;
    }
    a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        padding: 0em 0.5em 0.5em 0.5em;
        color: $white-text;
    }
}