.loader {
    background: $color-white;
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100000;
    animation: loader 1s ease-in-out 3s forwards;
    &_text {
        padding: 0.5em;
        color: black;
        & span {
            font-family: $font-tittle;
            display: inline-block;
            padding-right: 0.2em;
        }
    }
    &_icon {
        background: linear-gradient(90deg,$color-primary,$color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.1em;
    }
}
.loader_text span:nth-child(1) {
    animation: rotate 1.5s ease-in-out 0.15s forwards;
}
.loader_text span:nth-child(2) {
    animation: rotate 1s ease-in-out 0.45s forwards;
}
.loader_text span:nth-child(3) {
    animation: rotate 1s ease-in-out 1.15s forwards;
}
.loader_text span:nth-child(4) {
    animation: rotate 1s ease-in-out 1.45s forwards;
}
.loader_text span:nth-child(5) {
    animation: rotate 1s ease-in-out 2.15s forwards;
}
.loader_text span:nth-child(6) {
    animation: rotate 1s ease-in-out 2.45s forwards;
}
.loader_text span:nth-child(7) {
    animation: rotate 1s ease-in-out 3.15s forwards;
}