.head_picture {
    img {
        object-fit: cover;
        max-width: 100%;
        max-height: 32em;
        width: 100%;
    }
}

.card {
    z-index: 1;
    border-radius: 2em 2em 0em 0em;
    margin-top: -4em;
    background-color: #ece9e9;
    position: relative;
    animation: openning 2s ease normal;
    &_tittle {
        padding: 1em 0.5em 0.5em 0.5em;
        margin: 0;
        font-family: $font-tittle;
        font-weight: 500;
    }
    &_heart {
        font-size: xx-large;
        position: absolute;
        right: 0.8em;
        top: 1em;
    }
}

.entries, .dishes, .desserts {
    @include menu_containers;
}
.menu_contents {
    @include menu_contents;
}
.command {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 2.5em 4em 2.5em;
    &_button {
        @include button;
    }
}
