* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

@font-face {
  font-family: "Shrikhand";
  src: url(public/css/fonts/Shrikhand-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: url(public/css/fonts/Roboto-Regular.ttf) format("ttf");
}
/*header accueil*/
.logo {
  display: flex;
  justify-content: center;
  box-shadow: 2em 2em 2em 2em rgba(0, 0, 0, 0.486);
  padding: 0.5em;
}
.logo h1 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 0.3em;
  margin: 0;
}

/*main accueil*/
.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  background-color: #f3f3f3;
}
.location_icon {
  margin-right: 2.5%;
}
.location_text {
  font-weight: 700;
  margin-left: 2.5%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding: 2em 1em 4em 1em;
}
.description_tittle {
  text-align: center;
  margin: 0;
  font-weight: 900;
  padding-left: 15%;
  padding-right: 15%;
}
.description_subtittle {
  text-align: center;
  padding: 0.5em 1em 1.8em 1em;
  font-weight: 400;
}
.description_button {
  border-radius: 100px;
  color: white;
  font-weight: 700;
  width: 15em;
  height: 2.8em;
  border: 0;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.function {
  display: flex;
  flex-flow: column;
  padding: 0.8em 0.8em 0.8em 0.1em;
}
.function h2 {
  font-weight: 900;
  padding: 1.5em 0.8em 0.6em 0.5em;
  margin: 0;
}
.function_contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.8em;
  font-weight: bold;
  background-color: #f6f6f6;
  padding: 0.8em;
  margin: 0.6em 0.6em 0.6em 1em;
  width: 21em;
  height: 4.6em;
  box-shadow: 0em 0.5em 0.5em 0em #d1d0d0;
}
.function_list {
  list-style: none;
  counter-reset: compteListe;
  margin: 0;
  padding: 0.5em;
}
.function_contents--icon {
  margin-right: 1.5em;
  color: grey;
  display: flex;
  align-items: center;
}
.function_contents--icon::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -1.4em;
  border-radius: 100px;
  background-color: #9356DC;
  width: 1.5em;
  height: 1.5em;
  color: white;
  font-weight: 400;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 0.5em;
}
.restaurant h2 {
  padding: 1.5em 0.5em 0.5em 0.5em;
  margin: 0;
}
.restaurant_card {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 50%;
  border-radius: 15px;
  background-color: rgb(252, 249, 249);
  margin: 2%;
}
.restaurant_card a {
  text-decoration: none;
  display: block;
}
.restaurant img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/*footer*/
footer {
  background-color: rgba(0, 0, 0, 0.788);
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-size: large;
  padding: 2%;
  color: white;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
footer_contents--list {
  display: flex;
}
footer a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
}
footer_contents--icon i {
  margin-right: 2%;
}

/*# sourceMappingURL=style.css.map */
