* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Shrikhand';
    src: url(public/css/fonts/Shrikhand-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url(public/css/fonts/Roboto-Regular.ttf) format('ttf');
}