@mixin button {
    border-radius: 100px;
    color: $color-white;
    font-weight: 700;
    width: 15em;
    height: 2.8em;
    border: 0;
    background-image: linear-gradient(0deg,$color-primary,$color-secondary);
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    &:hover {
        background-image: linear-gradient(0deg,lighten($color-primary,5%),lighten($color-secondary,5%));
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    }
}

@mixin heart_animation {
    &>.fa-regular.fa-heart{
        font-size: xx-large;
        opacity: 1;
    }
    &>.fa-solid.fa-heart{
        font-size: xx-large;
        color: pink;
        transition: 0.5s;
        background: -webkit-linear-gradient(0deg, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
         opacity: 0;
    }
    &:hover>.fa-solid.fa-heart{
         opacity: 1;
    }
    &:hover>.fa-regular.fa-heart{
         opacity: 0;
    }
    & i {
        position: absolute;
    }
}

@mixin menu_containers {
    padding: 0.8em;
    h2 {
        font-size: large;
        font-weight: 400;
        border-bottom: 3px solid $color-tertiary;
        width: 2em;
    }
}

@mixin menu_contents {
    border-radius: 15px;
    width: 100%;
    background-color: $color-white;
    padding: 0.5em;
    margin: 1em 0 0 0;
    box-shadow: 1px 5px 15px rgb(207, 206, 206);
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    &--tittle {
        font-size: 1.1em;
        font-weight: 900;
        padding: 0.2em;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--description {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }
    &--subtittle {
        font-size: 1em;
        font-weight: 500;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        padding: 0.2em;
    }
    &--price {
        font-weight: 800;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
        transition: 1s;
    }
    &:hover .menu_contents--price {
        padding-right: 60px;
    }
    & .check {
        transform: translateX(60px);
        transition: 1s;
    }
    &:hover .check {
        transform: translateX(0px);
    }
    &:hover .check i {
        animation: rotate 1s ease-in-out 0.15s;
    }
    @include desktop {
        display: flex;
        flex-direction: column;
    }
}

@mixin check_circle {
    background-color: $color-tertiary;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 60px;
    height: 100%;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    & i {
        color: $color-white;
    }
    &:hover {
        animation: pull_left 1s ease-in-out 1s;
    }
}

@mixin tablet {
    @media screen and (min-width:map-get($breakpoints,tablet)){
        @content
    }
}

@mixin desktop {
    @media screen and (min-width:map-get($breakpoints,desktop)) {
        @content
    }
}